<p>spiegazione</p>

<!--

    ------ HTML -------
    <input #inputSaluti value="ciao">

    <button (click)="onClick()"></button>


    ------ TS -------

    è un decoratore che dice che c'è un figlio nella view, il nostro componente ha una view (tutto ciò che c'è a schermo)
        è un elemento visibile all'utente dento il componente, il componente è tutto, le view sono i singoli componenti

    con il punto esclamativo si assicura che non sia mai null
        ElementRef è uan sorta di id 
            ElementRef<HTMLInputElement> così gli specifichiamo che tipo di element dell'html vogliamo utlizizare

    @ViewChild ('inputSaluti') inputSaluti!: ElementRef<HTMLInputElement>

        


-->
